body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.code-container {
  margin-top: 20px;
}

.code {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
}

#verification_heading {
  font-size: 28px;
}

#verification_subtext {
  font-size: 18px;
  margin-top: 10px;
}
